
.center-text{
    color: var(--light);
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 300;
}

.second{
    width: 900px;
}

.center-text a{
    color: var(--purple);
}

.patners{
    margin-top: 20rem;
    width: 85%;
}

.patners .companies{
    margin: 3rem 0;
}

.patners img{
    width: 200px;
    transition: all 1s ease-in;
}

.patners img:hover{
    opacity: 0.5;
}
